cycler==0.10.0
google-auth==1.7.1
google-api-core==1.15.0
google-api-python-client==1.7.11
google-cloud-bigquery==1.23.1
google-cloud-core==1.1.0
google-cloud-storage==1.23.0
google-pandas-load==1.0.0
kiwisolver==1.1.0
matplotlib==3.3.2
numpy==1.18.5
scipy==1.4.1
pandas==0.25.3
pyparsing==2.4.5
PyYAML==3.13
requests==2.22.0
scikit-learn==0.22.2
scikit-optimize==0.5.2
six==1.13.0
zipp==1.0.0
